<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeegem.common.dao.ArticleMapper">

	<resultMap type="com.jeegem.common.model.Article" id="BaseResultMap">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="addTime" column="addTime"/>
		<result property="content" column="content"/>
		<result property="summary" column="summary"/>
		<result property="titleColor" column="titleColor"/>
		<result property="click" column="click"/>
		<result property="recommend" column="recommend"/>
		<result property="slide" column="slide"/>
		<result property="slideImage" column="slideImage"/>
		<association property="arcType" column="typeId" select="com.jeegem.dao.ArcTypeDao.findById"></association>
	</resultMap>
	
		
	<select id="getNewest"  resultMap="BaseResultMap">
		select * from jeegem_article order by publishDate desc limit 0,7
	</select>
	
	<select id="getRecommend"  resultMap="BaseResultMap">
		select * from jeegem_article where isRecommend=1 order by publishDate desc limit 0,7
	</select>
	
	<select id="getSlide"  resultMap="BaseResultMap">
		SELECT * FROM jeegem_article WHERE isSlide=1 ORDER BY publishDate DESC LIMIT 0,5
	</select>

	<select id="getIndex" parameterType="Integer" resultMap="BaseResultMap">
		select * from jeegem_article where typeId=#{typeId} ORDER BY publishDate DESC LIMIT 0,8
	</select>
	
	<select id="list" parameterType="Map" resultMap="BaseResultMap">
		select * from jeegem_article
		<where>
			<if test="title!=null and title!='' ">
				and title like #{title}
			</if>
			<if test="typeId!=null">
				and typeId=#{typeId}
			</if>
		</where>
		order by publishDate desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from jeegem_article
		<where>
		    <if test="title!=null and title!='' ">
				and title like #{title}
			</if>
			<if test="typeId!=null">
				and typeId=#{typeId}
			</if>
		</where>
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="BaseResultMap">
		select * from jeegem_article where id=#{id}
	</select>
	
	<update id="update" parameterType="com.jeegem.common.model.Article">
		update jeegem_article
		<set>
		    <if test="title!=null and title!='' ">
				title=#{title},
			</if>
			<if test="arcType.id!=null">
				typeId=#{arcType.id},
			</if>
			<if test="isSlide!=null">
				isSlide=#{isSlide},
			</if>
			<if test="isRecommend!=null">
				isRecommend=#{isRecommend},
			</if>
			<if test="slideImage!=null and slideImage!='' ">
				slideImage=#{slideImage},
			</if>
			<if test="summary!=null and summary!='' ">
				summary=#{summary},
			</if>
			<if test="content!=null and content!='' ">
				content=#{content},
			</if>
			<if test="keyWords!=null and keyWords!='' ">
				keyWords=#{keyWords},
			</if>
			<if test="titleColor!=null and titleColor!='' ">
				titleColor=#{titleColor},
			</if>
			<if test="publishDate!=null">
				publishDate=#{publishDate},
			</if>
			<if test="click!=0 ">
				click=#{click},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<select id="getLastArticle" parameterType="Integer" resultMap="BaseResultMap">
		SELECT * FROM jeegem_article WHERE id&lt;#{id} ORDER BY id DESC LIMIT 1
	</select>
	
	<select id="getNextArticle" parameterType="Integer" resultMap="BaseResultMap">
		SELECT * FROM jeegem_article WHERE id&gt;#{id} ORDER BY id ASC LIMIT 1
	</select>
	
	<insert id="add" parameterType="com.jeegem.common.model.Article">
		insert into jeegem_article values(null,#{title},#{publishDate},#{content},#{summary},#{titleColor},#{click},#{isRecommend},#{isSlide},#{arcType.id},#{slideImage},#{keyWords});
	</insert>
	
	<delete id="delete" parameterType="Integer">
		delete from jeegem_article where id=#{id}
	</delete>
	
	<select id="getNumByTypeId" parameterType="Integer" resultType="Integer">
		select count(*) from jeegem_article where typeId=#{typeId}
	</select>
</mapper> 