<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeegem.common.dao.ArticleMapper">

	<resultMap type="com.jeegem.common.model.Article" id="BaseResultMap">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="addTime" column="addTime"/>
		<result property="content" column="content"/>
		<result property="summary" column="summary"/>
		<result property="titleColor" column="titleColor"/>
		<result property="click" column="click"/>
		<result property="recommend" column="recommend"/>
		<result property="slide" column="slide"/>
		<result property="slideImage" column="slideImage"/>
		<association property="arcType" column="typeId" select="com.jeegem.dao.ArcTypeDao.findById"></association>
	</resultMap>
	
</mapper> 