<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeegem.common.dao.ArticleMapper">

	<resultMap type="com.jeegem.common.model.Article" id="BaseResultMap">
		<result property="id" column="id" jdbcType="BIGINT" />
		<result property="title" column="title" jdbcType="VARCHAR" />
		<result property="addTime" column="addTime" jdbcType="TIMESTAMP" />
		<result property="content" column="content" jdbcType="VARCHAR" />
		<result property="summary" column="summary" jdbcType="VARCHAR" />
		<result property="titleColor" column="titleColor" jdbcType="VARCHAR" />
		<result property="click" column="click" jdbcType="INTEGER" />
		<result property="recommend" column="recommend" jdbcType="INTEGER" />
		<result property="slide" column="slide" jdbcType="INTEGER" />
		<result property="slideImage" column="slideImage" jdbcType="INTEGER" />
		<result property="keyWords" column="keyWords" jdbcType="VARCHAR" />
		<association property="articleType" column="typeId"
			select="com.jeegem.common.dao.ArticleTypeMapper.getArcicleTypeById" />
	</resultMap>

	<!-- column属性列 -->
	<sql id="Base_Column_List">
		id, title, addTime, content, summary ,titleColor,click,recommend,slide,slideImage,keyWords,typeId
	</sql>

	<!-- where条件判断 -->
	<sql id="whereStatement">
		<where>
			<if test="id !=null and id !=''">
				id=#{id,jdbcType=BIGINT}
			</if>

			<if test="title !=null and title !=''">
				title=#{title,jdbcType=VARCHAR}
			</if>

			<if test="addTime !=null and addTime !=''">
				addTime=#{addTime,jdbcType=TIMESTAMP}
			</if>

			<if test="content !=null and content !=''">
				content=#{content,jdbcType=VARCHAR}
			</if>

			<if test="summary !=null and summary !=''">
				summary=#{summary,jdbcType=VARCHAR}
			</if>
			<if test="titleColor !=null and titleColor !=''">
				titleColor=#{titleColor,jdbcType=VARCHAR}
			</if>
			<if test="click !=null and click !=''">
				click=#{click,jdbcType=VARCHAR}
			</if>
			<if test="recommend !=null and recommend !=''">
				recommend=#{recommend,jdbcType=VARCHAR}
			</if>
			<if test="slide !=null and slide !=''">
				slide=#{slide,jdbcType=VARCHAR}
			</if>
			<if test="slideImage !=null and slideImage !=''">
				slideImage=#{slideImage,jdbcType=VARCHAR}
			</if>
			<if test="keyWords !=null and keyWords !=''">
				keyWords=#{keyWords,jdbcType=VARCHAR}
			</if>
			<if test="articleType !=null and articleType.id != null">
				typeId=#{articleType.id,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	
	<!-- update条件判断 -->
	<sql id="updateStatement">
			<if test="title !=null and title !=''">
				title=#{title,jdbcType=VARCHAR},
			</if>

			<if test="addTime !=null and addTime !=''">
				addTime=#{addTime,jdbcType=TIMESTAMP},
			</if>

			<if test="content !=null and content !=''">
				content=#{content,jdbcType=VARCHAR},
			</if>

			<if test="summary !=null and summary !=''">
				summary=#{summary,jdbcType=VARCHAR},
			</if>
			<if test="titleColor !=null and titleColor !=''">
				titleColor=#{titleColor,jdbcType=VARCHAR},
			</if>
			<if test="click !=null and click !=''">
				click=#{click,jdbcType=VARCHAR},
			</if>
			<if test="recommend !=null and recommend !=''">
				recommend=#{recommend,jdbcType=VARCHAR},
			</if>
			<if test="slide !=null and slide !=''">
				slide=#{slide,jdbcType=VARCHAR},
			</if>
			<if test="slideImage !=null and slideImage !=''">
				slideImage=#{slideImage,jdbcType=VARCHAR},
			</if>
			<if test="keyWords !=null and keyWords !=''">
				keyWords=#{keyWords,jdbcType=VARCHAR},
			</if>
			<if test="articleType !=null and articleType.id != null">
				typeId=#{articleType.id,jdbcType=VARCHAR},
			</if>
	</sql>

	<!-- save条件判断 -->
	<sql id="saveStatement">
			<if test="id != null">
				id,
			</if>
			
			<if test="title !=null and title !=''">
				title,
			</if>

			<if test="addTime !=null and addTime !=''">
				addTime,
			</if>

			<if test="content !=null and content !=''">
				content,
			</if>

			<if test="summary !=null and summary !=''">
				summary,
			</if>
			<if test="titleColor !=null and titleColor !=''">
				titleColor,
			</if>
			<if test="click !=null and click !=''">
				click,
			</if>
			<if test="recommend !=null and recommend !=''">
				recommend,
			</if>
			<if test="slide !=null and slide !=''">
				slide,
			</if>
			<if test="slideImage !=null and slideImage !=''">
				slideImage,
			</if>
			<if test="keyWords !=null and keyWords !=''">
				keyWords,
			</if>
			<if test="articleType !=null and articleType.id != null">
				typeId,
			</if>
	</sql>

	<!-- save Values -->
	<sql id="saveValuesStatement">
			<if test="id !=null and id !=''">
				#{title,jdbcType=VARCHAR},
			</if>
			
			<if test="title !=null and title !=''">
				#{title,jdbcType=VARCHAR},
			</if>

			<if test="addTime !=null and addTime !=''">
				#{addTime,jdbcType=TIMESTAMP},
			</if>

			<if test="content !=null and content !=''">
				#{content,jdbcType=VARCHAR},
			</if>

			<if test="summary !=null and summary !=''">
				#{summary,jdbcType=VARCHAR},
			</if>
			<if test="titleColor !=null and titleColor !=''">
				#{titleColor,jdbcType=VARCHAR},
			</if>
			<if test="click !=null and click !=''">
				#{click,jdbcType=VARCHAR},
			</if>
			<if test="recommend !=null and recommend !=''">
				#{recommend,jdbcType=VARCHAR},
			</if>
			<if test="slide !=null and slide !=''">
				#{slide,jdbcType=VARCHAR},
			</if>
			<if test="slideImage !=null and slideImage !=''">
				#{slideImage,jdbcType=VARCHAR},
			</if>
			<if test="keyWords !=null and keyWords !=''">
				#{keyWords,jdbcType=VARCHAR},
			</if>
			<if test="articleType !=null and articleType.id != null">
				#{articleType.id,jdbcType=VARCHAR},
			</if>
	</sql>

	<!-- 分页limit -->
	<sql id="limitStatement">
		<if test="pageNo != null and pageSize != null">
			LIMIT #{pageNo},#{pageSize}
		</if>
	</sql>

	<!-- 集合排序 -->
	<sql id="orderStatement">
		<if test="orderBy != null and orderType != null">
			ORDER BY ${orderBy} ${orderType}
		</if>
	</sql>

	<!-- 分页查询数据 -->
	<select id="getPageList" resultMap="BaseResultMap"
		parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM JEEGEM_ARTICLE
		<include refid="whereStatement" />
		<include refid="limitStatement" />
		<include refid="orderStatement" />
	</select>

	<!-- 分页查询数据总量 -->
	<select id="getTotalCount" parameterType="map" resultType="Integer">
		SELECT COUNT(ID) FROM JEEGEM_ARTICLE
		<include refid="whereStatement" />
	</select>

	<!-- 根据ID更新 -->
	<update id="updateById" parameterType="com.jeegem.common.model.Article">
		UPDATE JEEGEM_ARTICLE
		<set>
			<include refid="updateStatement" />
		</set>
		WHERE ID = #{id,jdbcType=BIGINT}
	</update>

	<!-- 新增文章 -->
	<insert id="save" keyProperty="id" keyColumn="id"
		useGeneratedKeys="true" parameterType="com.jeegem.common.model.Article">
		INSERT INTO JEEGEM_ARTICLE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="saveStatement" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="saveValuesStatement" />
		</trim>
	</insert>

	<!-- 根据ID集合批量删除 -->
	<delete id="deleteByIds" parameterType="java.util.Map">
		DELETE FROM JEEGEM_ARTICLE WHERE ID in
		<foreach item="item" index="index" collection="ids" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 根据ID查询 -->
	<select id="getArticleById" resultMap="BaseResultMap"
		parameterType="com.jeegem.common.model.Article">
		SELECT
		<include refid="Base_Column_List" />
		FROM JEEGEM_ARTICLE
		WHERE ID = #{id,jdbcType=BIGINT}
	</select>

</mapper> 